<body class="container">
    <div class="post">
        <br>
        <div class="PostTitle">
            {{currentPost.title}}
        </div>
        <div class="PostUsername">
            {{currentPost.username}}
        </div>
        <div class="PostDate">
            {{formatDate currentPost.createdAt}}
        </div>
        <br>
        <img class="postimage" src="/{{currentPost.image}}"/>
        <br>
        <div class="PostDescription">
            {{currentPost.description}}
        </div>
    </div>
    <div class="comments">
        <form class="comment-form">
            <input type="text">
            <button data-postid="{{currentPost.id}}" type="submit" id="comment-button" class="comment-button">comment</button>
        </form>
    </div>
</body>