<body class="container">
    <div class="post">
        <br>
        <div class="PostTitle">
            {{currentPost.title}}
        </div>
        <div class="PostUsername">
            {{currentPost.username}}
        </div>
        <div class="PostDate">
            {{formatDate currentPost.createdAt}}
        </div>
        <br>
        <img class="postimage" src="/{{currentPost.image}}"/>
        <br>
        <div class="PostDescription">
            {{currentPost.description}}
        </div>
    </div>
    <div class="comments">
        <input id="comment-text" type="text">
        <button data-postid="{{currentPost.id}}" id="comment-button" class="comment-button">comment</button>
    </div>
    <div class="comment-section" id="comment-section">
        {{#each currentPost.comments}}
            {{>comment}}
        {{/each}}
    </div>
</body>